h1{
    text-align:center;
    text-decoration:underline;
}

body{
    background: #86AAA4;

}


h3{
    margin:20px
}

a{
    float : right ;
    heigt: 5px;
    width: 50px;
    text-color:#000000;
    text-decoration:none;
    background: #619C8F;
    border: none;
    border-radius:5px;
    cursor: pointer;
    transform: translate(3px, -15px);
}
