h1{
    text-align:center;
    text-decoration:underline;
}

body{
    background: #D3E2E5;
    border-bottom: 50px solid #7BA59F;
    border-radius:5px;
}

h3{
    margin:2px
    font-family: arial, sans-sherif;
    font-size: 1vw;
}

.login{
    float : right ;
    height: 20px;
    width: 50px;
    text-align:center;
    text-decoration:none;
    background: transparent;
    border: none;
    border-radius:5px;
    cursor: pointer;
    transform: translate(3px, -15px);
    text-color: #000000;
    transition: all .3s;
}

h2{
    text-decoration: underline;
    margin: 20px
}

.vieuxpc{
    float:right;
    transform: translate(-200px, -357px);
}

.python1{
    text-decoration: none;
}

.python{
    text-color: #000000;
}

.login:hover{
    background:#B5A7A7 ;
}
